{% extends 'base.html' %}

{% block title %}
    Profile Edit
{% endblock %}

{% block main_content %}
    <div class="trails-header">
    <h1>Edit Your Profile</h1>
    <p class="trails-subtitle">Update your personal details and preferences</p>
</div>
    
{#    <div class="trails-header">#}
{#        <h1>Delete Your Profile</h1>#}
{#        <p class="trails-subtitle">Permanently remove your account and all associated data</p>#}
{#    </div>#}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Edit</button>
    </form>
{% endblock %}